# version format
version: 1.0.{build}

# Maximum number of concurrent jobs for the project
max_jobs: 1

# Build cloud
#build_cloud: BMOHyperV

# Build worker image (VM template)
image: Windows Server 2019

# Before build/cloning phases. Enable RDP on the worker for diagnostics.
init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

# scripts that run after cloning repository
install:
  - choco feature disable --name showDownloadProgress
  - choco install -y packer
  - ps: Install-WindowsFeature Hyper-V-PowerShell

# to run your custom scripts instead of automatic MSBuild
before_build:
  - ps: .\appveyor\download-iso.ps1
  - ps: .\appveyor\hyperv-switch.ps1
build_script:
  - ps: .\build\build_2019_core.ps1

artifacts:
  - path: .\*.box
    name: WindowsBox
    type: file